*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

.div1 {
    display: flex;
    justify-content: center;
    height: 60px;
    background-color: black;
} 

.div12 {
    color: aliceblue;

}

.divprueba1 {
    display: flex;
    flex-wrap: wrap;
}

.divcontenedor {
    margin: 20px;
}

.img {
    width: 60px;
}

.producto {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
}

.precioproduc {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
}
.cantidadprod{
width: 30px;
}