*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 


.div12 {
    color: aliceblue;

}

.divprueba1 {
    display: flex;
    flex-wrap: wrap;
}
.divprueba{
    width: 20%;
}
.divcontenedor {
    display: flex;
    justify-content: space-around;
   align-items: center;
   padding: 4%;
    margin: 20px;
    width: 80%;
    height: 95%;
}
.img{
    border-radius: 7%;
    padding: 8px;
}

.cantidadprod{
width: 30px;
}
.imgcarrito{
   
}
.divcontenedo{
    display: flex;
    justify-content: space-around;
   align-items: center;
   padding: 1%;
    margin: 20px;
    width: 20%;
  
}